/* Iframe style */

.iframe-container {
  position: relative;
  padding-top: 56.25%;
}
.iframe-container a {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  display: none;
  text-decoration: none !important;
}
.iframe-container a:before {
  content: '';
  width: 15px;
  height: 15px;
  background: url(../images/ext-link.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  margin-right: 5px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .iframe-container > a {
    display: block;
  }
}
.iframe-container:hover > a {
  display: block;
}
.iframe-container i {
  padding-right: 10px;
}

.custom-iframe {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  border: none;
}
