/* Chart styling */

.chart {
  position: relative;
  padding-top: 10px;
}
.chart-body {
  font-size: 16px;
  color: #333;
}
/* Share block styling */

.share {
  z-index: 999;
  background: #344050;
  position: absolute;
  right: 75px;
  min-width: 400px;
  padding: 15px;
  color: #fff;
  display: none;
  width: 0;
  transition: all 0.1s;
}
.share.open {
  width: auto;
  display: block;
}
.share img {
  width: 40px;
  height: 40px;
  float: left;
}
.share  span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-size: 100% !important;
}
.share .copy-icon {
  background: url('../images/copy.png') center no-repeat;
}
.share .print-icon {
  background: url('../images/print.png') center no-repeat;
}
.share .embed-icon {
  background: url('../images/embed.png') center no-repeat;
}
.share a {
  text-decoration: none !important;
  cursor: pointer;
}
.share>div {
  padding: 10px;
}
.share>div:not(.embed-link) {
  cursor: pointer;
}
.share>div:not(.embed-link) {
  border-bottom: 1px solid;
}
.share>div div:not(.iframe-wrap) {
  display: inline-block;
  margin-left: 20px;
}
.share .heading {
  font-size: 15px;
}
.share .desc {
  font-size: 13px;
}
.heading .tick {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../images/tick.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  display: none;
}
.heading .tick.success {
  transition: all 0.3s ease-out;
  display: inline-block;
}
.share input,
.share textarea {
  color: black;
}
.input-embed {
  min-height: 75px;
  min-width: 260px;
  float: left;
  resize: none;
  padding: 5px;
}
.copy-embed {
  float: right;
  margin-left: 10px;
  padding: 5px;
  color: #fff;
  background: #469dd2;
}
.copy-embed:hover {
  color: #fff;
}
.share-link {
  float: right;
}
.share-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757373;
  text-decoration: none !important;
  cursor: pointer;
}
.share-link:before {
  content: '';
  width: 17px;
  height: 18px;
  background: url('../images/share.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  display: inline-block;
  margin-right: 5px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}
.overlay.open {
  opacity: 0.6;
}
.dummy-input {
  opacity: 0;
  position: absolute;
  bottom: 0;
}
/* Embed Chart Styling */

body.page-node-type-pankm-chart {
  visibility: hidden;
}
body.pankm-embed .share-wrap,
body.pankm-embed .chart-body {
  display: none;
}
.pankm-tooltip {
  position: absolute;
  z-index: 999;
  width: auto;
  height: auto;
  padding: 10px;
  font: 10px sans-serif;
  display: inline-block;
  transition: opacity 0.3s ease;
  color: black;
  font-size: 15px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
  pointer-events: none;
  text-align: center;
  word-break: break-word;
  opacity: 0;
}
.print-only {
  display: none;
}
/* Internet explorer style for tool tip */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .pankm-tooltip {
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
}
.pankm-tooltip.visible {
  opacity: 0.9;
}
.x-axis text {
  text-anchor: end !important;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.y-axis text.trim,
.x-axis text.trim {
  cursor: pointer;
}
/* Mobile Styling */

@media (max-width: 767px) {
  .share {
    top: 30px;
    right: 0;
    min-width: auto;
    width: auto;
  }
  .input-embed {
    margin-bottom: 10px;
  }
  .copy-embed {
    float: none;
    margin-left: 0;
  }
}
/* Centerlise chart */

@media (min-width: 1200px) {
  .center-chart {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .center-chart {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .center-chart {
    width: 750px;
  }
}
.center-chart {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* ***** Each Chart Styling ***** */

/*Pie chart*/

/*Pie chart*/

.pankm-legend {
  /* height: 200px; */
  padding: 5px;
  /* overflow: auto; */
}
.pankm-legend > div {
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.pankm-legend > div {
  cursor: pointer;
}
.pankm-legend .data {
  width: calc(100% - 30px);
  float: left;
}
.pankm-legend span {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
  /* margin-bottom: 15px;*/
  float: left;
}
.pankm-legend:after {
  content: "";
  display: table;
  clear: both;
}
.pankm-legend >div:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 767px) {
  .pankm-legend-wrap .title {
    font-size: 18px;
  }
  .pankm-legend span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
  .pankm-legend .data {
    width: calc(100% - 20px);
    line-height: 10px;
  }

}
.bar {
  fill: steelblue;
  transition: fill 0.25s ease-in;
}
.bar:hover {
  fill: lightsalmon;
}
/* Multiline Chart*/
.data-line.hide-line,
.line-points.hide-circle {
  opacity: 0;
}
.hide-legend span {
  background: grey !important;
}
.not-multi .pankm-legend-wrap {
  display: none;
}
/* hide labels on mobile*/
@media screen and (max-device-width: 991px) {
  .between-30-60 .x-axis text,
  .greater-than-60 .x-axis text {
    opacity: 0 !important;
  }

}
.greater-than-80 .x-axis text {
  opacity: 0 !important;
}
/* Hover effects */
.data-line,
.line-points circle,
.arc,
.bar {
  cursor: pointer;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .print-only {
    display: inline-block;
  }
}
